* {
  box-sizing: border-box;
}
body {
  font-family: Verdana;
  background: rgb(228, 255, 192);
}
/*This wraps the elements inside to the div*/
#box {
  width: 90%;
  height: 0 auto;
  margin: 0 auto;
  background: rgb(27, 27, 27);
}

#header {
  padding: 15px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 3px black;
}
#footer {
  background-color: #000000;
  color: #e5e5e5;
  text-align: center;
  padding: 10px;
  margin-top: 7px;
  column-span: 7;
  box-align: center;
}
.menu {
  
  float: left;
  width: 15%;
  text-align: center;
  color: white;
  box-align: center;
  column-span: 3;
}
.menu a:link {
  background-color: #e5e5e5;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

.main {
  float: left;
  width: 40%;
  padding: 0 20px;
  color: rgb(0, 0, 0);
  grid-auto-rows: 11;
  width: 100%;
}

.main h2 {
  color: rgb(164, 132, 194);
  font-weight: bold;
}

a:hover {
  background: rgb(
    255,
    0,
    119
  ); /*This makes the navigation backgroud yellow whenever */
}

a{
  border-style: dashed;
  text-decoration: none;
}





